{
   "settings": {
      "import/resolver": {
         "node": {
            "paths": [
               "."
            ]
         }
      },
      "import/extensions": {
         "extensions": [
            ".js",
            ".jsx",
            ".ts",
            ".tsx"
         ],
      }
   },
   "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es2021": true
   },
   "extends": [
      "airbnb-base",
      // "plugin:import/errors"
   ],
   "plugins": [
      "align-assignments",
      "import"
   ],
   "parserOptions": {
      "ecmaVersion": 2020
   },
   "rules": {
      "indent": [
         "error",
         3
      ],
      "key-spacing": [
         "error",
         {
            "align": "value"
         }
      ],
      "align-assignments/align-assignments": [
         2,
         {
            "requiresOnly": false
         }
      ],
      "array-bracket-newline": [
         "error",
         {
            "multiline": true,
            "minItems": 3
         }
      ],
      "no-multi-spaces": [
         "warn",
         {
            "exceptions": {
               "ImportDeclaration": true
            }
         }
      ]
      // "no-multi-spaces": "off"
   }
}
