---
layout: main.njk

---

{# {% extends "layouts/main.njk" %} #}
{# {% from "macro/macro-img.njk" import picture %} #}

{% block main %}


{# {{ picture(
   source={
      '(min-width: 1004px)': 'images/logo-desktop',
      '(min-width: 684px)': 'images/logo-tablet'
   }, 
   img=[
   'page-header__logo-image', 'images/logo-mobile', 'Логотип Барбершопа «Бородинский»', '226', '85'
   ], 
   retina=['2x', '1x'], 
   formats=['.webp', '.png'],
   class='page-header__logo-picture')
}} #}
sefsfse
asdgdsh asdsaf sad ad asd  asd asd as a

{% endblock %}
